!
switchport default mode routed
!
vrf instance evpn-default
!
ip routing
ip routing vrf evpn-default
!
logging console debugging
!
username {{ username_device }} privilege 15 secret {{ username_password }}
!
service routing protocols model multi-agent
!
interface Management1
   ip address dhcp
!
management api netconf
   transport ssh def
!
hostname {{ item.name }}
!
{# tagged interface configuration #}
{% for list_device in get_devices.json.results -%}{#f-002 start get list of devices#}
{%- if list_device.device_role.name == 'Leaf' and list_device.name == item.name %}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.mode != None and device_ports.type.value != 'virtual' and device_ports.device.name == item.name %}
{% for item in device_ports.tagged_vlans %}
vlan {{ item.vid }} 
{% endfor %}
!
interface {{ device_ports.name }} 
   switchport
   switchport mode trunk
   switchport trunk allowed vlan {% for item in device_ports.tagged_vlans %}{{ item.vid }}{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif %}
{% endfor %}{#f-003 end looping all device ports#}

{# end tagging interface configuration #}
{# configuration ip address, loopback #}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.device.name == item.name %}
{% for iface_all in get_device_ip.results -%}{# start of ip address configuration #}
{% for iface in iface_all.json.results %}{# f-001: looping to check loopback ip address #}
{%- if device_ports.name == iface.interface.name and device_ports.name == 'lo' and device_ports.device.name and iface.interface.device.name == item.name %}
!
interface {{ device_ports.name }}0 
   ip address {{ iface.address }}
!
{% elif device_ports.name == iface.interface.name and device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name and iface.interface.device.name == item.name -%}
{% for item in device_ports.tagged_vlans %}
interface vlan {{ item.vid }}
   ip address {{ iface.address }}
   vrf {{ iface.vrf.name }}
   ip virtual-router address {{ iface.address | ipaddr('network') | ipmath (1) }}/24
!
{% endfor %}
{% elif device_ports.name == iface.interface.name and device_ports.device.name and iface.interface.device.name == item.name -%}
interface {{ iface.interface.name }} 
   ip address {{ iface.address }}
!
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
interface Vxlan1
   vxlan source-interface Loopback0
   vxlan udp-port 4789
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{% if device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name == item.name %}
{% for item in device_ports.tagged_vlans %}
   vxlan vlan {{ item.vid }} vni {{ item.vid }} 
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
{% for vlan in get_vlans.json.results %}
{% if vlan.role != None %}
{% if vlan.role.name == 'L3VPN' %}
   vxlan vrf evpn-default vni 10{{ vlan.vid }}
{% endif %}
{% endif %}
{% endfor %}
   vxlan learn-restrict any
!
{# bgp configuration #}
router bgp {{ item.local_context_data.bgp_asn }}
   router-id {{ item.local_context_data.controlPlane_address }}
   timers bgp 3 9
   distance bgp 20 200 200
   maximum-paths 4 ecmp 64
   neighbor {{ item.local_context_data.bgp_group }} peer group
   neighbor {{ item.local_context_data.bgp_group }} remote-as 65001
   neighbor {{ item.local_context_data.bgp_group }} maximum-routes 12000 warning-only
   neighbor {{ item.local_context_data.bgp_evpn_group }} peer group
   neighbor {{ item.local_context_data.bgp_evpn_group }} remote-as 65001
   neighbor {{ item.local_context_data.bgp_evpn_group }} next-hop-unchanged
   neighbor {{ item.local_context_data.bgp_evpn_group }} update-source Loopback0
   neighbor {{ item.local_context_data.bgp_evpn_group }} ebgp-multihop 3
   neighbor {{ item.local_context_data.bgp_evpn_group }} send-community extended
   neighbor {{ item.local_context_data.bgp_evpn_group }} maximum-routes 12000 warning-only
{% for list_device in get_devices.json.results -%}{#f-002 start get list of devices#}
{% for device_all_ports in get_device_ports.results -%}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results -%}{#f-004 get devices ports #}
{% for iface_all in get_device_ip.results -%}{# start of ip address configuration #}
{% for iface in iface_all.json.results %}{# f-001: looping to check loopback ip address #}
{%- if device_ports.connected_endpoint != None and list_device.device_role.name != 'Spine' and device_ports.device.name == item.name -%} 
{%- if device_ports.connected_endpoint.device.name  == iface.interface.device.name and device_ports.connected_endpoint.name == iface.interface.name and device_ports.device.name and list_device.name == item.name %}
   neighbor {{ iface.address | ipaddr ('address') }} peer group {{ item.local_context_data.bgp_group }}  
   neighbor {% for device in get_devices.json.results %}{%if device_ports.connected_endpoint.device.name == device.name%}{{ device.local_context_data.controlPlane_address }}{% endif %}{% endfor %} peer group {{ item.local_context_data.bgp_evpn_group }}
{% endif -%}
{% endif -%} 
{% endfor %}{#f-004 end looping get devices ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-002 end looping list devices #}
{% endfor %}{#f-002 end looping list devices #}
{# l2vpn configuration#}
{## l3vpn configuration  #}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.device.name == item.name %}
{% for iface_all in get_device_ip.results -%}{# start of ip address configuration #}
{% for iface in iface_all.json.results %}{# f-001: looping to check loopback ip address #}
{% if device_ports.name == iface.interface.name and device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name and iface.interface.device.name == item.name -%}
{% for item in device_ports.tagged_vlans %}
   vlan {{ item.vid }}
      rd auto  
      {% for device in get_devices.json.results %}{%- if device.device_role.name != 'Spine' %}route-target import {{ device.local_context_data.bgp_asn }}:{{ item.vid }}
      {% endif -%}
      {% endfor %}
{% endfor %}
route-target both {{ item.local_context_data.bgp_asn }}:{% for item in device_ports.tagged_vlans %}{{ item.vid }}
{% endfor %}
redistribute learned 
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
   ! 
   address-family evpn
      neighbor {{ item.local_context_data.bgp_evpn_group }} activate
   !
   address-family ipv4
      neighbor {{ item.local_context_data.bgp_group }} activate
      no neighbor {{ item.local_context_data.bgp_evpn_group }} activate
      network {{ item.local_context_data.controlPlane_address }}/32
   !
   vrf evpn-default 
{% for vlan in get_vlans.json.results %}
{% if vlan.role != None %}
{% if vlan.role.name == 'L3VPN' %}
     rd {{ item.local_context_data.controlPlane_address }}:10{{ vlan.vid }}
     {% for device in get_devices.json.results %}{%- if device.device_role.name != 'Spine' %}route-target import evpn {{ device.local_context_data.bgp_asn }}:10{{ vlan.vid }}
     {% endif -%}
     {% endfor %}
route-target export evpn {{ item.local_context_data.bgp_asn }}:10{{ vlan.vid }}
redistribute connected
{% endif %} 
{% endif %}
{% endfor %}
   !
end 
