!
nv overlay evpn
feature ospf
feature bgp
feature interface-vlan
feature vn-segment-vlan-based
feature nv overlay
!
fabric forwarding anycast-gateway-mac 0000.2222.3333
!
username admin password 5 $5$IAFFND$jqJr.mtuS5c6RoCNA0b52hk68CJLMGHKVtabsS7eUe9
username aing password 5 $5$JFGBJA$/liRZvcpxQpFFcX3xv4GAk478jaExhKYXUnTct8OkR4
!
hostname {{ item.name }}
!
{# tagged interface configuration #}
{% for list_device in get_devices.json.results -%}{#f-002 start get list of devices#}
{%- if list_device.device_role.name == 'Leaf' and list_device.name == item.name %}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.mode != None and device_ports.type.value != 'virtual' and device_ports.device.name == item.name %}
{% for item in device_ports.tagged_vlans %}
vlan {{ item.vid }} 
  vn-segment 10{{ item.vid }}
{% endfor %}
!
interface {{ device_ports.name }} 
   switchport
   switchport mode trunk
   switchport trunk allowed vlan {% for item in device_ports.tagged_vlans %}{{ item.vid }}{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif %}
{% endfor %}{#f-003 end looping all device ports#}


route-map loopback permit 10
  match interface loopback0
!
vrf context evpn-default
  vni 10500
  rd {{ item.local_context_data.controlPlane_address }}:10500 
  address-family ipv4 unicast
    {% for device in get_devices.json.results %}{%- if device.device_role.name != 'Spine' %}route-target import {{ device.local_context_data.bgp_asn }}:10500
    route-target import {{ device.local_context_data.bgp_asn }}:10500 evpn
    {% endif -%}
    {% endfor -%}

    route-target export {{ item.local_context_data.bgp_asn }}:10500
    route-target export {{ item.local_context_data.bgp_asn }}:10500 evpn
!
{# end tagging interface configuration #}
{# configuration ip address, loopback #}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.device.name == item.name %}
{% for iface_all in get_device_ip.results -%}{# start of ip address configuration #}
{% for iface in iface_all.json.results %}{# f-001: looping to check loopback ip address #}
{%- if device_ports.name == iface.interface.name and device_ports.name == 'lo' and device_ports.device.name and iface.interface.device.name == item.name %}
!
interface {{ device_ports.name }}0 
   ip address {{ iface.address }}
!
{% elif device_ports.name == iface.interface.name and device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name and iface.interface.device.name == item.name -%}
{% for item in device_ports.tagged_vlans %}
interface vlan {{ item.vid }}
   vrf member {{ iface.vrf.name }}
   no shutdown 
   fabric forwarding mode anycast-gateway
   ip address {{ iface.address | ipaddr('network') | ipmath (1) }}/24
!
{% endfor %}
{% elif device_ports.name == iface.interface.name and device_ports.device.name and iface.interface.device.name == item.name -%}
interface {{ iface.interface.name }} 
   ip address {{ iface.address }}
!
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
interface nve1
   host-reachability protocol bgp
   source-interface loopback0
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{% if device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name == item.name %}
{% for item in device_ports.tagged_vlans %}
   member vni 10{{ item.vid }}
     ingress-replication protocol bgp 
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
{% for vlan in get_vlans.json.results %}
{% if vlan.role != None %}
{% if vlan.role.name == 'L3VPN' %}
   member vni 10{{ vlan.vid }} associate-vrf
{% endif %}
{% endif %}
{% endfor %}
boot nxos bootflash:/nxos.9.3.5.bin sup-1
!
{# bgp configuration #}
router bgp {{ item.local_context_data.bgp_asn }}
   router-id {{ item.local_context_data.controlPlane_address }}
   timers bgp 3 9
   address-family ipv4 unicast 
     redistribute direct route-map loopback
     maximum-paths 64
   address-family l2vpn evpn
     maximum-paths 4
{% for list_device in get_devices.json.results -%}{#f-002 start get list of devices#}
{% for device_all_ports in get_device_ports.results -%}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results -%}{#f-004 get devices ports #}
{% for iface_all in get_device_ip.results -%}{# start of ip address configuration #}
{% for iface in iface_all.json.results %}{# f-001: looping to check loopback ip address #}
{%- if device_ports.connected_endpoint != None and list_device.device_role.name != 'Spine' and device_ports.device.name == item.name -%} 
{%- if device_ports.connected_endpoint.device.name  == iface.interface.device.name and device_ports.connected_endpoint.name == iface.interface.name and device_ports.device.name and list_device.name == item.name %}
   neighbor {{ iface.address | ipaddr ('address') }} 
     remote-as {% for device in get_devices.json.results %}{%if device_ports.connected_endpoint.device.name == device.name %}{{ device.local_context_data.bgp_asn }}{% endif %}{% endfor %}

     ebgp-multihop 3
     address-family ipv4 unicast
       soft-reconfiguration inbound always
   neighbor {% for device in get_devices.json.results %}{%if device_ports.connected_endpoint.device.name == device.name%}{{ device.local_context_data.controlPlane_address }}{% endif %}{% endfor %}
   
     remote-as {% for device in get_devices.json.results %}{%if device_ports.connected_endpoint.device.name == device.name %}{{ device.local_context_data.bgp_asn }}{% endif %}{% endfor %}
    
     ebgp-multihop 3 
     update-source loopback0
     address-family l2vpn evpn
       send-community extended
{% endif -%}
{% endif -%} 
{% endfor %}{#f-004 end looping get devices ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-002 end looping list devices #}
{% endfor %}{#f-002 end looping list devices #}
{# l2vpn configuration#}
evpn
{## l3vpn configuration  #}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.device.name == item.name %}
{% for iface_all in get_device_ip.results -%}{# start of ip address configuration #}
{% for iface in iface_all.json.results %}{# f-001: looping to check loopback ip address #}
{% if device_ports.name == iface.interface.name and device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name and iface.interface.device.name == item.name -%}
{% for item in device_ports.tagged_vlans %}
  vni {{ item.vid }} l2 
      rd auto   
      {% for device in get_devices.json.results %}{%- if device.device_role.name != 'Spine' %}route-target import {{ device.local_context_data.bgp_asn }}:10{{ item.vid }}
      {% endif -%}
      {% endfor %}
{% endfor %}
route-target export {{ item.local_context_data.bgp_asn }}:{% for item in device_ports.tagged_vlans %}{{ item.vid }}
{% endfor %}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
end 
