#!/bin/bash

# CUMULUS-AUTOPROVISIONING
sleep 5

net add hostname {{ item.name }}  
net add bgp autonomous-system {{ item.local_context_data.bgp_asn }}
net add bgp neighbor evpn peer-group
net add bgp neighbor evpn remote-as external
net add bgp neighbor evpn ebgp-multihop 3
net add bgp neighbor evpn update-source lo

{# configuration ip address, loopback #}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.device.name == item.name %}
{% for iface_all in get_device_ip.results -%}{# start of ip address configuration #}
{% for iface in iface_all.json.results %}{# f-001: looping to check loopback ip address #}
{%- if device_ports.name == iface.interface.name and device_ports.name == 'lo' and device_ports.device.name and iface.interface.device.name == item.name %}
net add loopback {{ device_ports.name }} ip address {{ iface.address }}
{% elif device_ports.name == iface.interface.name and device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name and iface.interface.device.name == item.name -%}
{% for item in device_ports.tagged_vlans %}
net add vlan {{ item.vid }} alias {{ item.name }}
net add vlan {{ item.vid }} ip address {{ iface.address }} 
net add vlan {{ item.vid }} ip address-virtual 44:39:39:ff:00:13 {{ iface.address | ipaddr('network') | ipmath (1) }}/24
net add vlan {{ item.vid }} mtu 9160
net add vlan {{ item.vid }} vlan-id {{ item.vid }} 
net add vlan {{ item.vid }} vlan-raw-device bridge
net add vlan {{ item.vid }} vrf {{ iface.vrf.name }} 
{% endfor %}
{% elif device_ports.name == iface.interface.name and device_ports.device.name and iface.interface.device.name == item.name -%}
net add interface {{ iface.interface.name }} ip address {{ iface.address }}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}

{#  tagging interface configuration #}
{% for list_device in get_devices.json.results -%}{#f-002 start get list of devices#}
{%- if list_device.device_role.name == 'Leaf' and list_device.name == item.name %}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.mode != None and device_ports.type.value != 'virtual' and device_ports.device.name == item.name %}
{% for item in device_ports.tagged_vlans %}
net add interface {{ device_ports.name }} bridge trunk vlans {{ item.vid }}
net add vxlan vni{{ item.vid }} vxlan id {{ item.vid }} 
net add vxlan vni{{ item.vid }} bridge access {{ item.vid }} 
net add vxlan vni{{ item.vid }} vxlan local-tunnelip {{ list_device.local_context_data.controlPlane_address }} 
{# net add bgp l2vpn evpn vni {{ item.vid }} rd {{ list_device.local_context_data.controlPlane_address }}:{{ item.vid }} #}
{# net add bgp l2vpn evpn vni {{ item.vid }} route-target import {{ list_device.local_context_data.bgp_asn_public }}:{{ item.vid }} #}
{# net add bgp l2vpn evpn vni {{ item.vid }} route-target export {{ list_device.local_context_data.bgp_asn_public }}:{{ item.vid }} #}

{% endfor %}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}

net add routing route-map LOOPBACKS permit 10 match interface lo
net add bgp neighbor {{ item.local_context_data.bgp_group }} peer-group
net add bgp neighbor {{ item.local_context_data.bgp_group }} remote-as external
net add bgp ipv4 unicast redistribute connected route-map LOOPBACKS
net add bgp l2vpn evpn neighbor {{ item.local_context_data.bgp_group }} activate
net add bgp l2vpn evpn neighbor evpn activate
net add bgp l2vpn evpn advertise-all-vni
net add bgp l2vpn evpn advertise-svi-ip
{# bgp peer configuration #}
{%- for list_device in get_devices.json.results -%}{#f-002 start get list of devices#}
{%- for device_all_ports in get_device_ports.results -%}{#f-003 get all device ports#}
{%- for device_ports in device_all_ports.json.results -%}{#f-004 get devices ports #}
{%- if list_device.device_role.name == "Leaf" and list_device.name == item.name -%}{#i-003 start#}
{%- if device_ports.connected_endpoint != None and list_device.device_role.name != 'Spine' and device_ports.device.name == item.name  -%}{# i-004 adding interface bgp to neighbor unnumbered interface#}
net add bgp neighbor {{ device_ports.name }} interface peer-group {{ item.local_context_data.bgp_group }}
{% endif %}{#i-004 ending#}
{% elif list_device.device_role.name == "Spine" and list_device.name == item.name -%}{# i-003 else conditional for spine router#}

{%- if device_ports.connected_endpoint != None and list_device.device_role.name != 'Leaf' and device_ports.device.name == item.name  and device_ports.cable.label == 'unnumbered' -%}{#i-004 start chek spine devices#}
net add bgp neighbor {{ device_ports.name }} interface peer-group {{ item.local_context_data.bgp_group }}
{% elif device_ports.connected_endpoint != None and list_device.device_role.name != 'Leaf' and device_ports.device.name == item.name -%}
net add bgp neighbor {%for peer_device in get_devices.json.results %}{%- if peer_device.name == device_ports.connected_endpoint.device.name %}{{ peer_device.local_context_data.controlPlane_address }} peer-group evpn 
{% endif -%}{% endfor %}
net add bgp neighbor {{ device_ports.name }} interface peer-group {{ item.local_context_data.bgp_group }}
{% endif -%} 

{%- endif  -%}{# end if for leaf and spine type#}
{%- endfor -%}{#f-004 end looping get devices ports#}
{%- endfor -%}{#f-003 end looping all device ports#}
{%- endfor -%}{#f-002 end looping list devices #}

{## l3vpn configuration  #}
{% for list_device in get_devices.json.results -%}{#f-002 start get list of devices#}
{%- if list_device.device_role.name == 'Leaf' and list_device.name == item.name %}
{% for iface_all in get_device_ip.results -%}{# start of ip address configuration #}
{% for iface in iface_all.json.results %}{# f-001: looping to check loopback ip address #}
{%- if iface.interface.name == 'lo' and iface.interface.device.name == item.name %}
{% for vlan in get_vlans.json.results %}
{%- if vlan.role != None %}
{% for prefix in get_all_ip_prefixes.json.results %}
{% if prefix.vrf != None and prefix.vlan != None and vlan.vid == prefix.vlan.vid and vlan.role.name == 'L3VPN' %}
net add vlan {{ vlan.vid }} vlan-id {{ vlan.vid }}
net add vlan {{ vlan.vid }} alias {{ vlan.name }}
net add vlan {{ vlan.vid }} vrf {{ prefix.vrf.name }} 
net add vxlan vni10{{ vlan.vid }} vxlan id 10{{ vlan.vid }} 
net add vxlan vni10{{ vlan.vid }} bridge access {{ vlan.vid }} 
net add vxlan vni10{{ vlan.vid }} vxlan local-tunnelip {{ iface.address | ipaddr ('address') }}  
net add bridge bridge ports vni10{{ vlan.vid }}
net add vrf {{ prefix.vrf.name }} vni 10{{ vlan.vid }}
{# net add bgp l2vpn evpn vni 10{{ vlan.vid }} rd {{ item.local_context_data.controlPlane_address }}:{{ vlan.vid }} #}
{# net add bgp l2vpn evpn vni 10{{ vlan.vid }} route-target import {{ item.local_context_data.bgp_asn_public }}:{{ vlan.vid }} #}
{# net add bgp l2vpn evpn vni 10{{ vlan.vid }} route-target export {{ item.local_context_data.bgp_asn_public }}:{{ vlan.vid }} #}
{% endif %}
{% endfor %}
{% endif -%}
{% endfor %}
{% endif -%}
{% endfor %}
{% endfor %}
{% endif -%}
{% endfor %}

net commit
sleep 5

reboot

# CUMULUS-AUTOPROVISIONING

exit 0


