# dhcpd.conf

# private DHCP options
option cumulus-provision-url code 239 = text;
option tftp-servers code 150 = { ip-address };

default-lease-time 600;
max-lease-time 7200;

authoritative;

{% for ip_prefix in get_all_ip_prefixes.json.results %}{# f-001: looping all prefixes #}
{% if ip_prefix.site.slug == 'itb-ganesha' and  ip_prefix.description == 'management interface' and ip_prefix.family.value == 4 %}{# i-001: matching IPv4 OOB subent for Berlin #}

#{{ ip_prefix.description }} // dynamic lease


subnet {{ ip_prefix.prefix | ipaddr('network') }} netmask {{ ip_prefix.prefix | ipaddr('netmask') }} {
  range {{ ip_prefix.prefix | ipaddr('network') | ipmath (129) }} {{ ip_prefix.prefix | ipaddr('network') | ipmath (254) }};
  option domain-name-servers {{ip_prefix.prefix | ipaddr('network') | ipmath (1)}};
  option domain-name "{{ domain_name }}" ;
  option routers {{ ip_prefix.prefix | ipaddr('network') | ipmath (1) }};
  option broadcast-address {{ ip_prefix.prefix | ipaddr('broadcast') }};
}
{% for device_all_ip in get_device_ip.results %}
{% for device_ip in device_all_ip.json.results %}
{% if device_ip.address | ipaddr('network') == ip_prefix.prefix | ipaddr('network') %}
{% for device_all_int in get_all_interfaces.results %}
{% for device_interface in device_all_int.json.results %}
{%- if device_ip.interface.device.name ==  device_interface.device.name and device_interface.mac_address != None %}
	host {{ device_ip.interface.device.name }} {
	hardware ethernet {{ device_interface.mac_address}};
        fixed-address {{ device_ip.address | ipaddr('address') }};
        option host-name "{{ device_ip.interface.device.name }}";
	{# adding option ztp#}
        {% for list_device in get_devices.json.results %}
        {%- if device_ip.interface.device.name == list_device.name %}
        {%- if list_device.device_type.manufacturer.slug == 'cumulus-linux' %}
        option cumulus-provision-url "http://{{ ip_prefix.prefix | ipaddr('network') | ipmath (1)}}/{{ device_ip.interface.device.name }}-cumulus-ztp.sh";
	{% elif list_device.device_type.manufacturer.slug == 'arista-eos' %}
        option bootfile-name "http://{{ ip_prefix.prefix | ipaddr('network') | ipmath (1)}}/{{ device_ip.interface.device.name }}-arista-ztp.conf";
        {% elif list_device.device_type.manufacturer.slug == 'cisco' %}
        option tftp-servers  {{ ip_prefix.prefix | ipaddr('network') | ipmath (1)}};
        option bootfile-name "{{ device_ip.interface.device.name }}/poap.py";
	{% endif -%}
        {% endif -%}
        {% endfor %}
        }
{% endif -%}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}


{% endif %}{# i-001: matching IPv4 OOB subent for Berlin #}
{% endfor %}{# f-001: looping all prefixes #}

