$TTL 86400

@ IN SOA ns.{{ domain_name }}	root.{{ domain_name }}. (
  100
  3600
  900
  604800
  86400
)
; NS entries
		IN	NS	ns.{{ domain_name }}.
; A/AAAA entries
{% for device in get_devices.json.results %}
{{ device.name }} 	IN 		A 	{{ device.primary_ip.address |  ipaddr('address') }}
{% endfor %}
ns                      IN      A       {{ get_devices.json.results[0].primary_ip.address | ipaddr('address') }}

