{% if {{ get_devices.jon.results[0].device_type.manufacturer.name == 'cumulus' %}
hostname {{ get_devices.json.results[0].name }}
bgp asn  {{ get_devices.json.results[0].config_context.bgp_asn }} 

{% elif {{ get_devices.jon.results[0].device_type.manufacturer.name == 'arista' %}
hellow arista
{% elif {{ get_devices.jon.results[0].device_type.manufacturer.name == 'cisco' %}
hellow cisco
{% endif %}
