{# 1. hostname #}
add hostname {{ device_item.name }}

{# 2. add BGP process #}
add bgp autonomous-system {{ device_item.local_context_data.bgp_asn }}
add bgp bestpath as-path multipath-relax
add bgp l2vpn evpn advertise-all-vni
add bgp neighbor IPV4_BGP_FABRIC peer-group
add bgp neighbor IPV4_BGP_FABRIC password {{ bgp.password }}
add bgp neighbor IPV4_BGP_FABRIC timers {{ bgp.send }} {{ bgp.receive }}
add bgp l2vpn evpn neighbor IPV4_BGP_FABRIC activate

add bgp neighbor IPV6_BGP_FABRIC peer-group
add bgp neighbor IPV6_BGP_FABRIC password {{ bgp.password }}
add bgp neighbor IPV6_BGP_FABRIC timers {{ bgp.send }} {{ bgp.receive }}
del bgp ipv4 unicast neighbor IPV6_BGP_FABRIC activate
add bgp ipv6 unicast neighbor IPV6_BGP_FABRIC activate

{# 3. VRF and IP #}
{% for iface in get_device_ip.json.results %}{# f-001: looping all interaces #}
{# creation of VRFs #}
{% if iface.vrf != None %}{# i-001: excluding GRT #}
add vrf {{ iface.vrf.name }}
add interface {{ iface.interface.name }} vrf {{ iface.vrf.name }}
{% endif %}{# i-001: excluding GRT #}

{# configuration of IP adresses #}
{% if iface.interface.name == 'lo' %}{# i-007: checking lo or phy #}
{% if iface.role.label is defined and iface.role.label == 'Loopback' %}{# i-008: checking Anycast #}
add loopback {{ iface.interface.name }} {% if iface.family.value == 4 %}ip{% elif iface.family.value == 6 %}ipv6{% endif %} address {{ iface.address }}
