{# tagged interface configuration #}
{% for list_device in get_devices.json.results -%}{#f-002 start get list of devices#}
{%- if list_device.device_role.name == 'Leaf' and list_device.name == item.name %}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.mode != None and device_ports.type.value != 'virtual' and device_ports.device.name == item.name %}
{% for item in device_ports.tagged_vlans %}
vlan {{ item.vid }} 
{% endfor %}
!
interface {{ device_ports.name }} 
   switchport
   switchport mode trunk
   switchport trunk allowed vlan {% for item in device_ports.tagged_vlans %}{{ item.vid }}{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif %}
{% endfor %}{#f-003 end looping all device ports#}

{# end tagging interface configuration #}
{# configuration ip address, loopback #}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.device.name == item.name %}
{% for iface_all in get_device_ip.results -%}{# start of ip address configuration #}
{% for iface in iface_all.json.results %}{# f-001: looping to check loopback ip address #}
{% if device_ports.name == iface.interface.name and device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name and iface.interface.device.name == item.name -%}
{% for item in device_ports.tagged_vlans %}
interface vlan {{ item.vid }}
   ip address {{ iface.address }}
   vrf {{ iface.vrf.name }}
   ip virtual-router address {{ iface.address | ipaddr('network') | ipmath (1) }}/24
!
{% endfor %}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
interface Vxlan1
   vxlan source-interface Loopback0
   vxlan udp-port 4789
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{% if device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name == item.name %}
{% for item in device_ports.tagged_vlans %}
   vxlan vlan {{ item.vid }} vni {{ item.vid }} 
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
{% for vlan in get_vlans.json.results %}
{% if vlan.role != None %}
{% if vlan.role.name == 'L3VPN' %}
   vxlan vrf evpn-default vni 10{{ vlan.vid }}
{% endif %}
{% endif %}
{% endfor %}
   vxlan learn-restrict any
!
{# bgp configuration #}
router bgp {{ item.local_context_data.bgp_asn }}
{# l2vpn configuration#}
{## l3vpn configuration  #}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.device.name == item.name %}
{% for iface_all in get_device_ip.results -%}{# start of ip address configuration #}
{% for iface in iface_all.json.results %}{# f-001: looping to check loopback ip address #}
{% if device_ports.name == iface.interface.name and device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name and iface.interface.device.name == item.name -%}
{% for item in device_ports.tagged_vlans %}
   vlan {{ item.vid }}
      rd auto  
      {% for device in get_devices.json.results %}{%- if device.device_role.name != 'Spine' %}route-target import {{ device.local_context_data.bgp_asn }}:{{ item.vid }}
      {% endif -%}
      {% endfor %}
{% endfor %}
route-target both {{ item.local_context_data.bgp_asn }}:{% for item in device_ports.tagged_vlans %}{{ item.vid }}
{% endfor %}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
   vrf evpn-default 
{% for vlan in get_vlans.json.results %}
{% if vlan.role != None %}
{% if vlan.role.name == 'L3VPN' %}
     rd {{ item.local_context_data.controlPlane_address }}:10{{ vlan.vid }}
     {% for device in get_devices.json.results %}{%- if device.device_role.name != 'Spine' %}route-target import evpn {{ device.local_context_data.bgp_asn }}:10{{ vlan.vid }}
     {% endif -%}
     {% endfor %}
route-target export evpn {{ item.local_context_data.bgp_asn }}:10{{ vlan.vid }}
{% endif %} 
{% endif %}
{% endfor %}
   !
end 
