{# tagged interface configuration #}
{% for list_device in get_devices.json.results -%}{#f-002 start get list of devices#}
{%- if list_device.device_role.name == 'Leaf' and list_device.name == item.name %}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.mode != None and device_ports.type.value != 'virtual' and device_ports.device.name == item.name %}
{% for item in device_ports.tagged_vlans %}
vlan {{ item.vid }} 
  vn-segment 10{{ item.vid }}
{% endfor %}
!
interface {{ device_ports.name }} 
   switchport
   switchport mode trunk
   switchport trunk allowed vlan {% for item in device_ports.tagged_vlans %}{{ item.vid }}{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif %}
{% endfor %}{#f-003 end looping all device ports#}
{%# l3vpn configuration #%}
vrf context evpn-default
  vni 10500
  rd {{ item.local_context_data.controlPlane_address }}:10500 
  address-family ipv4 unicast
    {% for device in get_devices.json.results %}{%- if device.device_role.name != 'Spine' %}route-target import {{ device.local_context_data.bgp_asn }}:10500
    route-target import {{ device.local_context_data.bgp_asn }}:10500 evpn
    {% endif -%}
    {% endfor -%}

    route-target export {{ item.local_context_data.bgp_asn }}:10500
    route-target export {{ item.local_context_data.bgp_asn }}:10500 evpn
!
{# end tagging interface configuration #}
{# configuration ip address, loopback #}
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.device.name == item.name %}
{% for iface_all in get_device_ip.results -%}{# start of ip address configuration #}
{% for iface in iface_all.json.results %}{# f-001: looping to check loopback ip address #}
{%- if device_ports.name == iface.interface.name and device_ports.name == 'lo' and device_ports.device.name and iface.interface.device.name == item.name %}
!
interface {{ device_ports.name }}0 
   ip address {{ iface.address }}
!
{% elif device_ports.name == iface.interface.name and device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name and iface.interface.device.name == item.name -%}
{% for item in device_ports.tagged_vlans %}
interface vlan {{ item.vid }}
   vrf member {{ iface.vrf.name }}
   no shutdown 
   fabric forwarding mode anycast-gateway
   ip address {{ iface.address | ipaddr('network') | ipmath (1) }}/24
!
{% endfor %}
{% elif device_ports.name == iface.interface.name and device_ports.device.name and iface.interface.device.name == item.name -%}
interface {{ iface.interface.name }} 
   ip address {{ iface.address }}
!
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
interface nve1
   host-reachability protocol bgp
   source-interface loopback0
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{% if device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name == item.name %}
{% for item in device_ports.tagged_vlans %}
   member vni 10{{ item.vid }}
     ingress-replication protocol bgp 
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
{% for vlan in get_vlans.json.results %}
{% if vlan.role != None %}
{% if vlan.role.name == 'L3VPN' %}
   member vni 10{{ vlan.vid }} associate-vrf
{% endif %}
{% endif %}
{% endfor %}
!
{# l2vpn configuration#}
evpn
{% for device_all_ports in get_device_ports.results %}{#f-003 get all device ports#}
{% for device_ports in device_all_ports.json.results %}{#f-004 get devices ports #}
{%- if device_ports.device.name == item.name %}
{% for iface_all in get_device_ip.results -%}{# start of ip address configuration #}
{% for iface in iface_all.json.results %}{# f-001: looping to check loopback ip address #}
{% if device_ports.name == iface.interface.name and device_ports.type.value == 'virtual' and device_ports.tagged_vlans != None and device_ports.device.name and iface.interface.device.name == item.name -%}
{% for item in device_ports.tagged_vlans %}
  vni {{ item.vid }} l2 
      rd auto   
      {% for device in get_devices.json.results %}{%- if device.device_role.name != 'Spine' %}route-target import {{ device.local_context_data.bgp_asn }}:10{{ item.vid }}
      {% endif -%}
      {% endfor %}
{% endfor %}
route-target export {{ item.local_context_data.bgp_asn }}:{% for item in device_ports.tagged_vlans %}{{ item.vid }}
{% endfor %}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
{% endif -%}
{% endfor %}{#f-003 end looping all device ports#}
{% endfor %}{#f-003 end looping all device ports#}
end 
